body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Banner style here */
header {
    background-color: rgb(252, 238, 241);
    padding-top: 44px;
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 48px;
    font-weight: 1000;
    margin-bottom: 0;
}

.details {
    color: rgb(101, 98, 98);
}

.btn-primary {
    padding: 16px 30px;
    border: 0;
    background: #E55473;
    color: white;
    border-radius: 10px;
}

/* Hot Deal Section Style */
.hot-deal {
    margin-top: 100px;
    display: flex;
    background-color: rgb(252, 238, 241);
    justify-content: space-around;
    gap: 44px;
    align-items: center;
    padding: 50px 0;
    text-align: center;
}

.hot-deal-title {
    font-size: 32px;
    font-weight: 800;
}

.text-color {
    color: #E55473;
}

/* All Section */
.section {
    max-width: 1200px;
    margin: 0  auto 64px auto;
}

/* Instagram Section Style */
.section-info {
    text-align: center;
    margin-bottom: 90px;

}

.section-title {
    font-size: 32px;
    font-weight: 600px;
    margin-bottom: 0;
}

.flower {

    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Latest Deals Section */
.latest-deals{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.deal-info{
    position: absolute;
    top: 100px;
    right: 216px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deal-title{
    font-size: 32px;
    font-weight: 800px;
    margin-bottom: 0;
}

.input-field{
    width: 600px;
    border: 0;
    border-radius: 8px;
    padding: 0 10px;
}

.input-btn{
    display: flex;
    gap: 24px;
}

/* Footer Style Here */
.footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}

.copy-right{
    color: #494949;
}