body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Banner style here */
header{
    background-color: rgb(252 , 238 , 241);
    padding-top: 44px;
    display: flex;  
    justify-content: space-around;
}
.title{
    font-size: 48px;
    font-weight: 1000;
    margin-bottom: 0;
}
.details{
    color: rgb(101, 98, 98);
}
.btn-primary{
    padding: 16px 30px;
    border: 0;
    background: #E55473;
    color: white;
    border-radius: 10px;
}

/* Hot Deal Section Style */
.hot-deal{
    margin-top: 100px;
    display: flex;
    background-color: rgb(252 , 238 , 241);
    justify-content: space-around;
    gap: 44px;
    align-items: center;
    padding: 50px 0;
    text-align: center;
}

.hot-deal-title{
    font-size: 32px;
    font-weight: 800;
}

.text-color{
    color: #E55473;
}